<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="static/js/application.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>
<body>
<div class="jumbotron">
    <h1>Real time tweets keyword analysis</h1>
    <h1 style="display:inline"><i class="fab fa-twitter"></i><i class="fab fa-bitcoin"></i> <h2>By Kyle Yang</h2></h1>
</div>

<div class="container" id="content">
    <div class="row">
        <p>Twitter Hashtag, 'bitcoin, 'btc', 'crptocurrency', etc. are ignored.</p>
        <h3>Tweets talking about Bitcoin</h3>
        <div id="log">
    </div>
</div>


</div>

</body>
</html>